<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>{% block title %}Vitória de Oliveira{% endblock %}</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='img/favicon-32x32.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='img/apple-touch-icon.png')}}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="symbol"><span>{v}</span></div>
    <nav class="menu">
        <input type="checkbox" class="menu-faketrigger">
        <div class="menu-lines">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li><a href="{{url_for('main.index')}}">index</a></li>
            <li><a href="{{url_for('main.about')}}">sobre</a></li>
            <li><a href="{{url_for('main.projects')}}">projetos</a></li>
            <li><a href="{{url_for('static', filename='pdf/curriVitoriaTI.pdf')}}">currículo</a></li>
            <li><a href="{{url_for('main.contact')}}">contato</a></li>

        </ul>
    </nav>


    <header id="header">
        <h1 class="main-title"></h1>
    </header>

    <main id="main">
        {% block content %}{% endblock %}
    </main>

    <footer id="footer">
        <section class="content">
            <h3 class="title-h3">social</h3>
            <ul>
                <li><a href="https://www.linkedin.com/in/vitoriadeo/" target="_blank">linkedin</a></li>
                <li><a href="https://github.com/vitoriadeo" target="_blank">github</a></li>
            </ul>
            <p class="copy"> ©
                <script>document.write(new Date().getFullYear());</script>
                Vitória de Oliveira
            </p>
        </section>
    </footer>
    <script src="{{url_for('static', filename='js/behaviors.js')}}"></script>

</body>

</html>