{% extends "base.html" %}

{% block title %} {{ super() }} - Home {% endblock %}

{% block content %}

<section class="description">
    Olá, seja bem-vindo! 👋🏽<br>
    Meu nome é Vitória, moro no Rio de Janeiro/RJ, sou aspirante a dev backend python e adoro
    construir aplicações web. Sou movida pela curiosidade e pelo prazer de ver um projeto ganhar vida, da primeira linha
    de código até a solução final.<br><br>
</section>

<section class="stack">
    <h3 class="title-h3">tech stack</h3>
    <ul>
        <li>python</li>
        <li>flask</li>
        <li>postgresql</li>
        <li>sql server</li>
        <li>git</li>
        <li>html5</li>
        <li>css3</li>
    </ul>
</section>

{% endblock %}